.hidden {
  display: none;
}

#siteholder {
  display: flex;
  justify-content: center;
}
#sitecontainer {
  width: 960px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 3em;
  margin: 0px 0px 20px 0px;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
}

p {
  font-family: 'Domine', serif;
  font-size: 15pt;
  margin: 0px 10px 0px 10px;
  line-height: 1.2em;
}
p::first-line {
  font-weight: bold;
  font-size: 20pt;
}

#titlebox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imageandtextbox {
  margin: 20px 0px 20px 0px;
  display: flex;
  flex-direction: row;
}
